layout {

    focus-ring {
        active-color   "#98d1a4"
        inactive-color "#1c211e"
        urgent-color   "#be4663"
    }

    border {
        active-color   "#98d1a4"
        inactive-color "#1c211e"
        urgent-color   "#be4663"
    }

    shadow {
        color "#00212f70"
    }

    tab-indicator {
        active-color   "#98d1a4"
        inactive-color "#2b8c3f"
        urgent-color   "#be4663"
    }

    insert-hint {
        color "#98d1a480"
    }
}

recent-windows {
    highlight {
        active-color "#98d1a4"
        urgent-color "#be4663"
    }
}
